@import 'tailwindcss';

body {
	font-family: 'Sansation';
	background-color: #f2f3f6;
}

.dark body {
	@apply bg-[#1d1d1e];
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'Sansation';
	src: url('/fonts/Sansation-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationBold';
	src: url('/fonts/Sansation-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: bold;
}

@layer utilities {
	.sansation-bold {
		font-family: 'SansationBold';
		font-weight: bold;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@theme {
	--color-vermilion: #f03228;

	--color-cerulean: #247ba0;

	--color-saffron: #e3b505;

	--color-gray2: #f2f3f6;

	--color-gray3: #2d2c2f;
}
