@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: 'Sansation';
	background-color: #f2f3f6;
}

.dark body {
	@apply bg-[#1d1d1e];
}

@font-face {
	font-family: 'Sansation';
	src: url('/fonts/Sansation-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@theme {
	/* Vermilion: Voor knoppen en interactieve onderdelen */
	--color-vermilion: #f03228;

	/* Cerulean: Voor kopteksten */
	--color-cerulean: #247ba0;

	/* Saffron: Voor informatie of waarschuwingen */
	--color-saffron: #e3b505;

	--color-gray2: #f2f3f6;

	--color-gray3: #2d2c2f;
}
